In [1]:
# Creating variable
x,y=4,"cat"
print(x)
print(y)

4
cat

In [5]:
#casting variable 
x=float(3)
y=str("3.8")
print(x)
print(type(y))

3.0
<class 'str'>

In [3]:
type(x)

float

In [8]:
# program for simple interest 
p=float(input("enter principle: "))
r=float(input("enter rate:"))
t=float(input("enter time"))
SI=p*r*t/100
print("Simple Interest is=",SI)

enter principle: 234
enter rate:2323
enter time232
Simple Interest is= 1261110.24

In [7]:
# Python Strings 
a= "hello world "
print(a)

hello world

In [8]:
print(len(a)) #to check length

12

In [11]:
a="he is a good boy " # to check something is present in string we use "in" . 
if "good" in a: 
    print ("yup good is present")

yup good is present

In [13]:
a="transformer"  # string slicing 
print (a[2:5])
print(a[-4:-1])

ans
rme

In [15]:
a="transformer" # string concatenation
b= "optimus"
c=a+b
print(a+b)
print(c)

transformeroptimus
transformeroptimus

In [17]:
a=7                                               # format() is used to combine string and number, it takes argument and places 
                                                  # it at {} placeholders.
txt="There  are {} conntinents in the world."
print(txt.format(7))
print(txt.format(a))

There  are 7 conntinents in the world.
There  are 7 conntinents in the world.

In [18]:
txt="there are \'two\' models" #to print the characters which are illegal we use escape charaters like  \"\" .
print(txt)

there are 'two' models

# Strings methods

In [33]:
a="transformer"  
x=a.capitalize() # Capitalizes first letter of string, if there is numeric data in front nothing changes 
print(x)

Transformer

In [34]:
x=x.casefold() # converts uppercase in lower case 
print(x)

transformer

In [35]:
y=x.center(20,"x") # it center aligns the string
print(y)

xxxxtransformerxxxxx

In [36]:
print(a.count("r",0,8)) # used for counting the character used in string between start and end specified index

2

In [37]:
txt = "Hello, welcome to my world."     # endswith() checks whether txt endswith my world from position index between 5 and 11

x = txt.endswith("my world.", 5, 11)

print(x)

False

In [39]:
# expandtabs() expands the tab with one tab length which is of size 8 by default if we want less size that can be provided.
txt = "H\te\tl\tl\to"  
x =  txt.expandtabs()
print(x)
print(txt.expandtabs(3))

H       e       l       l       o
H  e  l  l  o

In [40]:
#Finds the position of welcome in the string
txt = "Hello, welcome to my world." 
x = txt.find("welcome")
print(x)

7

In [41]:
#The format() method formats the specified values and insert them inside the string's placeholder.They are helpful in combining the strings with numbers
txt="hey guys iam {} and i have {} brothers".format("gaurav",2)
print(txt)

hey guys iam gaurav and i have 2 brothers

In [43]:
txt = "Hello, welcome to my world."#gives the positionof occurence of item in list
print(txt.index("l"))

2

In [44]:
txt = "Company 12" # checks whether numbers are alphanumeric
x = txt.isalnum()
print(x)

False

In [45]:
txt = "CompanyX" # checks whwhether numbers are alphabet
x = txt.isalpha()
print(x)

True

In [46]:
txt = "50800"      # checks whwhether numbers are digits
x = txt.isdigit()
print(x)

True

In [47]:
#The isidentifier() method returns True if the string is a valid identifier, otherwise False.
#A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [48]:
txt = "hello world!" # checks whether all characters  are lower case
x = txt.islower()
print(x)

True

In [ ]:
#checks whether all items in strings are numeric
#numerics are numbers from 0-9
#Exponents, like ² and ¾ are also considered to be numeric values.
#"-1" and "1.5" are NOT considered numeric values, because all the characters in the string must be numeric, and the - and the . are not.
txt = "565"
x = txt.isnumeric()
print(x)

In [49]:
txt = "Hello!\nAre you #1?" #checks wether all items are printable .
x = txt.isprintable()
print(x)

False

In [50]:
txt = "   s   "    ##checks wether all items are whitespaces
x = txt.isspace()
print(x)

False

In [51]:
a = "HELLO" # istitle gives true if first character is capital and rest other small
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [52]:
txt = "THIS IS NOW!"# checks all character are upper case
x = txt.isupper()
print(x)

True

In [53]:
#join() helps to join all items in iterable like items of  list ,tuple,dict with separator
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [55]:
#The ljust() method will left align the string, using a specified character (space is default) as the fill character.
txt = "banana"
x = txt.ljust(20,'*')
print(x, "is my favorite fruit.")

banana************** is my favorite fruit.

In [56]:
#converts into lower charcter
txt = "Hello my FRIENDS"
x = txt.lower()
print(x)

hello my friends

In [57]:
txt = "I am Gaurav Vajpayee" #creates partition along separator and makes a tuple

x = txt.partition("Gaurav")

print(x)

('I am ', 'Gaurav', ' Vajpayee')

In [58]:
txt = "I am Gaurav Vajpayee" #replaces a value with other
x = txt.replace("Gaurav", "Saurabh")
print(x)

I am Saurabh Vajpayee

In [59]:
txt = "I am Gaurav Vajpayee" #finds last occurence position

x = txt.rfind("a")

print(x)

16

In [61]:
txt = "I am Gaurav Vajpayee" #finds last occurence position
print(txt.rindex("q"))

ValueError: substring not found

In [64]:
txt = "banana" #shifts string right hand side with specified number of position along with padding charcater

x = txt.rjust(20,"*")

print(x, "is my favorite fruit.")

**************banana is my favorite fruit.

In [65]:
txt = "hello, my name is Peter, I am 26 years old" #splits into a list default separator is whitespace
x = txt.split(", ")
print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [66]:
txt=" hello i am\n Gaurav Vajpayee" #splites into list from newline 
x = txt.splitlines()
print(x)

[' hello i am', ' Gaurav Vajpayee']

In [67]:
txt = "Hello, welcome to my world." #checks whether starts with given character between positions
x = txt.startswith("wel", 7, 20)
print(x)

True

In [68]:
txt = "     banana     "  # removes spaces from end and start 
x = txt.strip()
print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [69]:
txt="Gaurav Vajpayee" #swaps the upper into lower and lower into upper character
x = txt.swapcase()

print(x)

gAURAV vAJPAYEE

In [70]:
txt="gaurav vajpayee" # makes first letter as upper case and space is considered as separator
x = txt.title()

print(x)

Gaurav Vajpayee

In [71]:
txt="gaurav vajpayee" # makes all letter as upper case
x = txt.upper()

print(x)

GAURAV VAJPAYEE

In [72]:
txt="gaurav vajpayee" #fills zero until it is specified length long
print(txt.zfill(19))

0000gaurav vajpayee

# List Methods

In [74]:
#append() adds the itmes to the list at the end of the list .
cars=["volvo","toyota","suzuki"]
cars.append("ford")
cars
cars.append(["tata","renault"])
cars

['volvo', 'toyota', 'suzuki', 'ford', ['tata', 'renault']]

In [75]:
#extend() also adds the items to list but usually used for adding any iterable .
cars.extend("mercedes")

In [78]:
cars2=("mercedes","land rover")
cars.extend(cars2)

In [79]:
print(cars)

['volvo', 'toyota', 'suzuki', 'ford', ['tata', 'renault'], 'm', 'e', 'r', 'c', 'e', 'd', 'e', 's', 'mercedes', 'land rover']

In [81]:
#clear() removes all element from the list
fruits = ['apple', 'banana', 'cherry', 'orange']
fruits.clear()
fruits

[]

In [84]:
#copy() helps in copying the list .
fruits = ['apple', 'banana', 'cherry', 'orange']
x = fruits.copy()

['apple', 'banana', 'cherry', 'orange']

In [91]:
#count() helps in getting the count of specified item in the list 
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]
x = points.count(9)
x

2

In [92]:
# index() helps to get the position of item in the list.
points=[1,4,2,9,7,8,3,1]
points.index(4)

1

In [95]:
#insert() helps to add the item in the list at the specified position.
cars=["volvo","toyota","suzuki"]
cars.insert(0,"maruti")
cars
cars.insert(2,["mercedes","tata"])
cars

['maruti', 'volvo', ['mercedes', 'tata'], 'toyota', 'suzuki']

In [96]:
#pop() removes the item from specified position
cars.pop(1)
cars

['maruti', ['mercedes', 'tata'], 'toyota', 'suzuki']

In [100]:
# remove() helps to remove the item from list .
cars=["volvo","toyota","suzuki"]
cars.remove("volvo")
cars

['toyota', 'suzuki']

In [101]:
# reverse() hepls to reverse the order of list.
cars=["volvo","toyota","suzuki"]
cars.reverse()
cars

['suzuki', 'toyota', 'volvo']

In [104]:
# sort() by default it sorts the list in ascending order 
cars=["volvo","toyota","suzuki"]
cars.sort()
cars
cars.sort(reverse=True) #to sort in decending order .
cars

['volvo', 'toyota', 'suzuki']

# Tuples Methods

In [106]:
c # unpacking the tuple
(silver,blue, black)=cars
print(silver)
print(blue)
print(black)

tata
hyundai
maruti

In [107]:
cars=("tata","hyundai","maruti","tata")#count() helps to count the item in the list 
cars.count("tata")

2

In [108]:
cars =("tata","hyundai","maruti")
cars.index("tata")

0

In [113]:
#once the tuple is created it is unchangeble so the items can not be added or removed from tuple.
#To add or remove the item in tuple we can first convert it into list and can perform the required functions.
cars=("tata","hyundai","maruti")
cars=list(cars)
cars
cars=tuple(cars)
cars

('tata', 'hyundai', 'maruti')

# Dictionary methods

In [114]:
dictcar={"brand":"Tata", "model":"nexon","year":2019}
print(dictcar)

{'brand': 'Tata', 'model': 'nexon', 'year': 2019}

In [115]:
dictcar.keys() # returns the keys.

dict_keys(['brand', 'model', 'year'])

In [116]:
dictcar.values()# returns the values.

dict_values(['Tata', 'nexon', 2019])

In [119]:
dictcar["colour"]="blue" # To add the item in dictionary
dictcar

{'brand': 'Tata', 'model': 'nexon', 'year': 2019, 'colour': 'blue'}

In [120]:
dictcar.update({"engine":"diesel"}) # To  add the item in Dictionary.
dictcar

{'brand': 'Tata',
 'model': 'nexon',
 'year': 2019,
 'colour': 'blue',
 'engine': 'diesel'}

In [121]:
dictcar.pop("colour") # To remove the item in the Dictionary
dictcar

{'brand': 'Tata', 'model': 'nexon', 'year': 2019, 'engine': 'diesel'}

In [123]:
mydict=dictcar.copy()# to copy the Dictionary entirely.
mydict

{'brand': 'Tata', 'model': 'nexon', 'year': 2019, 'engine': 'diesel'}

In [125]:
x=("brand","model","memory") # fromkeys() gives same value to all keys.
y=("samsung","m2", 128)
mobiledict=dict.fromkeys(x,y)
mobiledict

{'brand': ('samsung', 'm2', 128),
 'model': ('samsung', 'm2', 128),
 'memory': ('samsung', 'm2', 128)}

In [128]:
x=dictcar.get("model") # to get value of specified key
x

'nexon'

In [129]:
dictcar.items() # To get items in a  dictionary.

dict_items([('brand', 'Tata'), ('model', 'nexon'), ('year', 2019), ('engine', 'diesel')])

In [133]:
dictcar.setdefault("colour","red") # inserts the key with value and also returns the default value 
dictcar

{'brand': 'Tata',
 'model': 'nexon',
 'year': 2019,
 'engine': 'diesel',
 'colour': 'red'}

# Set Methods

In [136]:
cardetails={"model","brand","colour","year"} # to add() the itme in set
cardetails.add("engine")
cardetails

{'brand', 'colour', 'engine', 'model', 'year'}

In [138]:
newcar=cardetails.copy() #copy() creates the copy of set.
newcar

{'brand', 'colour', 'engine', 'model', 'year'}

In [140]:
newcar.update(["efficiency","range"]) 
newcar

{'brand', 'colour', 'efficiency', 'engine', 'model', 'range', 'year'}

In [142]:
newcar.discard("range")#to remove the item in list 
newcar

{'brand', 'colour', 'efficiency', 'engine', 'model', 'year'}

In [143]:
newcar.remove("year") #to remove the item in list
newcar

{'brand', 'colour', 'efficiency', 'engine', 'model'}

In [144]:
fruits={"apple","banana","orange"}       # intersection() returns new set with intersectiom of two sets.
company={"microsoft","apple","amazon"}
newset=fruits.intersection(company)
newset

{'apple'}

In [145]:
newset=company.union(fruits) #union() returns the union of set.
newset

{'amazon', 'apple', 'banana', 'microsoft', 'orange'}

In [146]:
newset=fruits.symmetric_difference(company)#removes the items which is present in both set and combines rest item to form newset.
newset

{'amazon', 'banana', 'microsoft', 'orange'}

In [159]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]
names2[0] = 'Alice'
names3[1] = 'Bob'

sum = 0
for ls in (names1,names2,names3):
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':
        sum += 10
        print (sum)

In [170]:
weekdays = ['sun','mon','tue','wed','thu','fri','sun','mon','mon']
for x in set(weekdays):
    print(x,weekdays.count(x))
set(weekdays)

mon 3
sun 2
wed 1
tue 1
thu 1
fri 1

{'fri', 'mon', 'sun', 'thu', 'tue', 'wed'}

In [33]:
#Python program to generate Fibonacci series 
x,y=0,1 
print(x)
print(y)
while y<50:
    x,y=y,x+y
    print(y)

0
1
1
2
3
5
8
13
21
34
55

In [14]:
def fibonacci(n):
    if n==0:
        return n
    elif n==1:
        return n
    else:
        return(fibonacci(n-1) + fibonacci(n-2))
n = int(input("Enter number of terms:"))
print("Fibonacci sequence:")
for i in range(n):
     print(fibonacci(i))

Enter number of terms:23
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711

In [28]:
## program for printing prime numbers between two numbers
start=int(input("enter first number:"))
end=int(input("enter second number:"))
for i in range ( start, end+1):
    for j in range(2,i):
        if i%j==0:
            break 
    else:
        print(i)

enter first number:11
enter second number:19
11
13
17
19

In [31]:
#program for telling whether number is prime or not 
i=int(input("enter a integer between  2 to infinity"))
for j in range(2,i):
      if i%j==0:
        print("not a prime")
        break
else:
    print ("a prime")

enter a integer between  2 to infinity23
a prime

range(0, 23)

In [27]:
arrayuser=input("enter a list of integers separated by space: ")
subset=input("enter list of numbers which is smaller or equal to first list: ")
if subset in arrayuser:
    print (" is a subset ")
else :
    print (" not a subset")

enter a list of integers separated by space: 12 111 1 2 3 45
enter list of numbers which is smaller or equal to first list: 1 2 3
 is a subset

In [11]:
arrayfinal

array([121, 131, 131], dtype=int32)

In [5]:
arrayfinal

array([  123,  1313, 13313], dtype=int32)

In [9]:
arrayfinal.dtype

dtype('int32')

In [32]:
#Dictionary Methods
car = { "brand": "toyota","model": "innova","year": 2004}

car.clear()

print(car)

{}